/* Form Container Styling */
.inspo-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    
    padding: 20px; /* Space inside */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Shadow effect */
    max-width: 400px; /* Match right side's width */
    min-width: 400px; /* Consistent width */
    margin: 20px auto; /* Center alignment */
    box-sizing: border-box;
    column-gap: 20px
  }
  
.buttons {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin: auto;
    margin-bottom: -10px;
}

  /* Dropdown Styling */
  .theme-select {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Subtle shadow */
    color: #ffffff; /* Text color */
    background-color: #444444; /* Dropdown background */
    border: 1px solid #444444; /* Border color */
    border-radius: 4px; /* Rounded corners */
    padding: 10px; /* Space inside dropdown */
    width: 100%; /* Full width */
    box-sizing: border-box;
    font-size: 1rem;
    
  }
  
  /* Button Styling */
  .give-btn {
    background-color: #444444; /* Button background */
    color: #ffffff; /* White text */
    border: none;
    padding: 10px 20px; /* Button padding */
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    min-width: 80%; /* Match full width of the container */
}

.favorite-btn {
    min-width: 80%; /* Match full width of the container */
    padding: 10px 20px; /* Button padding */

}


  .give-btn:hover {
    background-color: #555555; /* Slightly lighter on hover */
  }
  
  /* Random Verse Display */
  .random-verse {
    background-color: #3a3a3a; /* Match input background */
    color: #ffffff;
    padding: 10px; /* Space inside the box */
    border-radius: 4px; /* Rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Subtle shadow */
    font-size: 1rem;
    box-sizing: border-box;
    width: 100%; /* Full width matching form */
    margin-top: 10px;
    margin-bottom: 10px;
    letter-spacing: 1px;
    
  }
  
  /* General Layout for Both Forms */
 .theme {
    text-align: center;
    margin: auto;
 }
  