/* Root Variables */
:root {
  --background-color: #121212; /* Dark background */
  --text-color: #ffffff; /* White text */
  --input-bg-color: #333333; /* Input background */
  --input-border-color: #444444; /* Input border */
  --button-bg-color: #444444; /* Button background */
  --button-hover-bg-color: #555555; /* Button hover background */
  --card-bg-color: #1e1e1e; /* Card and form background */
  --shadow-color: rgba(0, 0, 0, 0.5); /* Shadow color */
}

/* Body Styling */
body {
  background-color: var(--background-color); /* Use root variable */
  color: var(--text-color); /* Use root variable */
  font-family: Arial, sans-serif;
  margin: auto;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(1350deg, #3317b1, #000000);
  color: #fff;
  min-height: 100vh;
  
  justify-content: center;
  align-items: center;
}